/*TABLE OF CONTENTS
============================================================================================

00. Colors

01. Body, links, paragraphs, general style

02. Header & Navigation

03. Footer

04. Home

05. About

06. Contact

07. Responsive

==========================================================================================*/

/*==========================================
00. Colors

navy-blue: #000080;
yellow:#FED630;
===========================================*/
/*==========================================
01. Body, links, paragraphs, general style
===========================================*/
.hb-header{
    font-family: 'Montserrat', sans-serif;
    font-size:3.5rem;
    line-height:4rem;
    -webkit-font-smoothing: antialiased;
}
.hb-subtext{
    font-family: 'Open Sans', sans-serif;
}
ul.nav>li.nav-item>a.nav-link{
    font-family: 'Arimo', sans-serif;
    color:#000080;
    font-weight:600;
}
/*==========================================
02. Header & Navigation
===========================================*/
nav#navigation.navbar.navbar-expand-md.navbar-light{
    border-top:7px solid #000080;
    border-bottom:7px solid #000080;
    margin:1rem;
}
div#navbarSupportedContent.collapse.navbar-collapse.justify-content-center>ul.nav>li.nav-item{
    margin-bottom:10px;
}
div#navbarSupportedContent.collapse.navbar-collapse.justify-content-center>ul.nav>li.nav-item>a.nav-link{
    display:inline-block;
    color: #000080;
    text-decoration: none;
}
.nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background: #FED630;
    transition: width .3s;
}

.nav-link:hover::after {
    width: 100%;
    //transition: width .3s;
}


/*==========================================
03. Footer
===========================================*/
footer{
    padding:0 1rem;
}
footer#home>div.row.container-fluid.justify-content-center,
footer#about>div.row.container-fluid.justify-content-center,
footer#contact>div.row.container-fluid.justify-content-center{
    border-top:7px solid #000080;
    margin:0 auto;
    padding:2rem 0 0 0;
}
footer#home>div.row.container-fluid.justify-content-center>img.footer-logo,
footer#about>div.row.container-fluid.justify-content-center>img.footer-logo,
footer#contact>div.row.container-fluid.justify-content-center>img.footer-logo{
    height:100%;
    width:4%;
    position:relative;
    left:33rem;
    bottom:1rem;
}
/*==========================================
04. Home
===========================================*/
section#commitment>div.container-fluid.row{
    margin:8rem auto;
}
section#commitment>div.container-fluid.row>div.col-lg-9.commitment-content{
    height:50rem;
    background-color:#000080;
    box-shadow:  5px 5px 11px  rgba(0,0,0,0.6);
    -moz-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
    -o-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
}
section#commitment>div.container-fluid.row>div.col-lg-9.commitment-content>h1.hb-header{
    color:#FED630;
    padding:4rem 1rem 0 9rem;
}
section#commitment>div.container-fluid.row>div.col-lg-9.commitment-content>p.hb-subtext{
    color:#FFF;
    font-size:1.2rem;
    padding:4rem 12rem 0 9rem;
    
}
/*==========================================
05. About
===========================================*/
section#about-logo>div.row.container{
    margin:1rem auto 3rem;
    text-align:center;
}
section#about-us>div.row.container-fluid>div.col-lg-6.col-sm-12>div.ah-details,
section#about-us>div.row.container-fluid>div.col-lg-6.col-sm-12>div.tb-details{
    background-color:#FED630;
    padding:1.5rem 2rem .3rem;
    width:42%;
    position:absolute;
    top:17rem;
    right:10rem;
}
section#about-us>div.row.container-fluid>div.col-lg-6.col-sm-12>div.ah-details>h5,
section#about-us>div.row.container-fluid>div.col-lg-6.col-sm-12>div.ah-details>p,
section#about-us>div.row.container-fluid>div.col-lg-6.col-sm-12>div.tb-details>h5,
section#about-us>div.row.container-fluid>div.col-lg-6.col-sm-12>div.tb-details>p{
    font-family: 'Raleway', sans-serif;
}
section#about-us>div.row.container-fluid>div.col-lg-6.col-sm-12>div.ah-details>p,
section#about-us>div.row.container-fluid>div.col-lg-6.col-sm-12>div.tb-details>p{
    text-align:center;
    padding-top:1rem;
    border-top:2px solid #000080;
    width:18.4rem;
}
section#about-us>div.row.container-fluid>div.col-lg-6.col-sm-12>div.ah-border,
section#about-us>div.row.container-fluid>div.col-lg-6.col-sm-12>div.tb-border{
    border:2px solid #000080;
    height:7.4rem;
    width:42%;
    position: absolute;
    top:18rem;
    right:9rem;
}
section#about-us>div.row.container-fluid>div.col-lg-6.col-sm-12>div.ah-img,
section#about-us>div.row.container-fluid>div.col-lg-6.col-sm-12>div.tb-img{
    margin:0 auto;
    text-align:center;
}
section#about-us>div.row.container-fluid>div.col-lg-6.col-sm-12>div.ah-bio,
section#about-us>div.row.container-fluid>div.col-lg-6.col-sm-12>div.tb-bio{
    background-color:#000080;
    padding:2rem;
    margin:5rem auto;
    width:37rem;
}
section#about-us>div.row.container-fluid>div.col-lg-6.col-sm-12>div.ah-bio>p,
section#about-us>div.row.container-fluid>div.col-lg-6.col-sm-12>div.tb-bio>p{
    color:#FFF;
}
/*==========================================
06. Contact
===========================================*/
section#contact-information>div.row.container{
    margin:3rem auto;
    border-top:1.5rem solid #000080;
}
section#contact-information>div.row.container>h1.hb-header{
    color:#000080;
}
/*==========================================
 07. Responsive
===========================================*/

@media only screen and (max-width: 1192px) {

}

@media screen and (max-width: 768px) {

}


@media screen and (max-width: 480px){

}


@media screen and (max-height: 360px) {

}

