/*TABLE OF CONTENTS
============================================================================================

00. Colors

01. Body, links, paragraphs, general style

02. Header & Navigation

03. Footer

04. Section Landing Page

05. Responsive

==========================================================================================*/

/*==========================================
00. Colors

navy-blue: #000080;
yellow:#FED630;
===========================================*/
/*==========================================
 Body, links, paragraphs, general style
===========================================*/
.hb-header{
    font-family: 'Oswald', sans-serif;
}
.hb-subtext{
    font-family: 'Open Sans', sans-serif;
}
ul.nav>li.nav-item>a.nav-link{
    font-family: 'Arimo', sans-serif;
    color:#000080;
    font-weight:600;
}
/*==========================================
 Header & Navigation
===========================================*/
nav#navigation.navbar.navbar-expand-md.navbar-light{
    border-top:5px solid #000080;
    border-bottom:5px solid #000080;
    margin:1rem;
}
div#navbarSupportedContent.collapse.navbar-collapse.justify-content-center>ul.nav>li.nav-item{
    margin-bottom:10px;
}
div#navbarSupportedContent.collapse.navbar-collapse.justify-content-center>ul.nav>li.nav-item>a.nav-link{
    display:inline-block;
    color: #000;
    text-decoration: none;
}
.nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background: #FED630;
    transition: width .3s;
}

.nav-link:hover::after {
    width: 100%;
    //transition: width .3s;
}


/*==========================================
 Footer
===========================================*/
footer#home{
    padding:0 1rem;
}
footer#home>div.row.container-fluid.justify-content-center{
    border-top:3px solid #000080;
    margin:1rem auto;
    padding:1rem;
}
/*==========================================
Home
===========================================*/
section#commitment>div.container-fluid.row{
    margin:8rem auto;
}
section#commitment>div.container-fluid.row>div.col-lg-9.commitment-content{
    height:50rem;
    background-color:#000080;
    box-shadow:  5px 5px 11px  rgba(0,0,0,0.6);
    -moz-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
    -o-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
}
section#commitment>div.container-fluid.row>div.col-lg-9.commitment-content>h1.hb-header{
    color:#FED630;
    padding:4rem 9rem 0 9rem;
    font-size:4rem;
    line-height:6rem;
}
section#commitment>div.container-fluid.row>div.col-lg-9.commitment-content>p.hb-subtext{
    color:#FFF;
    font-size:1.2rem;
    padding:4rem 12rem 0 9rem;
    
}
/*==========================================
 Responsive
===========================================*/

@media only screen and (max-width: 1192px) {

}

@media screen and (max-width: 768px) {

}


@media screen and (max-width: 480px){

}


@media screen and (max-height: 360px) {

}

